body {
    background-color: black;
    color: lime;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

p {
    color: purple;
}

li {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}