body {
    background-color: black;
    color: limegreen;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: justify;
}

img {
    height: auto;
    width: 400px;
}

a {
    background-color: black;
    color: blueviolet;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: justify;
}